/* Customizations */
.node .groups {
  display: none;
}

div.spacer {
  margin-bottom: 25px;
}

#user-login-form div.item-list {
  float: right;
  text-align: right;
  padding-top: 0; padding-bottom: 0;
}

#header {
  position: relative;
}
#header #logo {
  margin: 0; padding: 0;
  position: absolute;
  top: 0; left: 0;
}

#content .forum-post div.links {
  text-align: left;
}


/*
 * Images
 */
.link-image, .link-image-full {
  display: block;
}
.image-right {
  float: right;
  margin: 10px 0 10px 10px;
}
.image-left {
  float: left;
  margin: 10px 10px 10px 0;
}
.image-full {
  clear: both;
  margin: 10px 0;
}
object {
  clear: both;
  margin: 10px auto;
  display: block;
}

/* Hide messages from anonymous users */
.page-class.anonymous-user .messages.status {
  display: none;
}
